.Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligne les éléments au début (gauche) */
    gap: 10px; /* Espace entre les éléments */
    background-color: #33CC99;
}